.btn {
  margin: 5px;
}

.button {
  color: var(--white);
  display: flex;
  height: 100%;
  font-size: 1.2rem;
  height: 50px;
  align-items: center;
  border: none;
  padding-left: 0;
}

.button-text:hover{
  text-decoration: none;
}

.button img {
  background-color: var(--white); /* Color del cuadrado blanco */
  padding: 5px; /* Espaciado dentro del cuadrado blanco */
}

.link-text {
  text-decoration: none; /* Quitar subrayado */
  color: inherit; /* Heredar el color del enlace */
}

.btn-text{
  color: var(--white);
}

.custom-boton {
  background-color: var(--light-gray);
  color: var(--white);
  border: 2px solid var(--gray); /* Borde gris de 2 píxeles */
  cursor: pointer;
}

.custom-boton:hover {
  background-color: var(--gray); /* Color de fondo gris al pasar el mouse */
  color: var(--white); /* Color de texto blanco al pasar el mouse */
}

.icon {
  height: 50px;
  width: 50px;
  background-color: var(--white);
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 15%;
  border-bottom-right-radius: 15%;
}




  