.calendario-container {
  background-color: var(--white);
  width: auto;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.calendario-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.calendario-header h3{
  font-size: 25px;
  text-decoration: none;
  margin-top: 10px;  
  margin-bottom: 10px;
  font-weight: bold;
  font-style: italic;
}

.calendario-header h3:hover{
  color: var(--dark);
}

.calendario-header .btn{
  text-decoration: none;
  color: var(--dark);
  margin-bottom: 0;
  font-weight: bold;
}

.calendario-day {
  background-color: var(--white);
  border: 1px solid var(--light-gray);
  text-align: center;
  padding: 5px;
  padding-bottom: 0;
  position: relative;
  cursor: pointer;
  border-width: 2px;
  margin: -1px;
}

.calendario-day .selected {
  background-color: var(--blue-s);
  border-radius: 50%;
  color: var(--white);
}

.day-number.selected {
  background-color: var(--blue-s);
  color: var(--white);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  line-height: 25px;
  display: inline-block;
}

/* Estilo para el número del día */
.day-number {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  cursor: pointer;
}

/* Estilo para el día seleccionado */
.calendario-day.selected .day-number {
  background-color: var(--blue-s);
  color: var(--white);
  border-radius: 50%;
}

.calendar-separator {
  border: 1px solid var(--dark);
  margin-bottom: 10px;
  margin-top: 15px;
}

.calendario-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 45px;
}

.day-name {
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

.dom {
  color: var(--red);
}

.red-number {
  color: var(--red);
}

.fecha-seleccionada {
  background-color: var(--blue-s);
  color: var(--white);
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
}




/* Estilos para pantallas medianas (768px - 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .calendario-container {
    padding: 20px;
  }

  .calendario-header h3 {
    font-size: 22px;
  }

  .calendario-day {
    padding: 10px;
  }

  .day-number {
    font-size: 15px;
  }

  .fecha-seleccionada {
    font-size: 17px;
    padding: 12px;
  }
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  .calendario-container {
    padding: 20px;
  }

  .calendario-header h3 {
    font-size: 20px;
  }

  .calendario-day {
    padding: 8px;
  }

  .day-number {
    font-size: 14px;
  }

  .fecha-seleccionada {
    font-size: 16px;
  }
}