
.reservation-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: auto;
  height: 100%;
}

.reservation-box {
  width: 700px;
  height: auto;
  padding: 20px;
  padding-bottom: 0;
  background-color: var(--white);
  border-radius: 10px; 
  border: 1px solid var(--light-gray); 
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3); 
}

.reservation-section {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.separator {
  width: 90%;
  height: 1px; 
  background-color: var(--light-gray);
  margin: 15px auto;
}

.reservation-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; 
  margin: 0;
  padding: 0;
}

.reservation-header h2 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.reservation-header p {
  margin: 0;
  font-size: 10px;
  color: var(--gray);
  font-weight: bold;
}

.reservation-header img{
  margin-left: 0;
}

.reservation-options {
  margin-top: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.reservation-option {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 2px solid var(--light-gray);
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--white);
}

.reservation-option.selected {
  background-color: var(--blue-s);
  color: var(--white);
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--white);
  border: 2px solid var(--light-gray);
  margin-right: 10px;
}

.circle.selected {
  background-color: var(--blue-s);
  border: 2px solid var(--light-gray);
}

button {
  border: none;
  background: none;
  font-size: 14px;
  cursor: pointer;
}

.buttons {
  margin-top: 10px;
  margin-left: -5px;
}

/* Estilos para los ReservationOption */
.reservation-option.selected {
  border-color: var(--blue-s);
}

.reservation-option:hover {
  border-color: var(--blue-s);
}






/* Estilos para tamaños de pantalla pequeños (hasta 768px) */
@media (max-width: 768px) {
  .reservation-box {
    width: 100%;
    padding: 10px;
    padding-bottom: 0;
  }

  .separator {
    width: 95%;
    margin: 10px auto;
  }

  .reservation-header img {
    width: 25px;
    height: 25px;
  }

  .reservation-options {
    grid-template-columns: repeat(2, 1fr);
  }

  .reservation-option {
    padding: 8px;
  }

  .circle {
    width: 15px;
    height: 15px;
  }

  .reservation-header h2 {
    font-size: 18px;
  }

  .reservation-header p {
    font-size: 10px;
  }
}

/* Estilos para tamaños de pantalla medianos (768px - 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  .reservation-box {
    width: 90%;
    padding: 15px;
    padding-bottom: 0;
  }

  .separator {
    width: 80%;
  }

  .reservation-options {
    grid-template-columns: repeat(3, 1fr);
  }

  .reservation-option {
    padding: 10px;
  }

  .circle {
    width: 20px;
    height: 20px;
  }

  .reservation-header h2 {
    font-size: 20px;
  }

  .reservation-header p {
    font-size: 12px;
  }
}