:root{
  --dark: #000000;
  --light-gray:#CCCCCC;
  --gray: #999999;
  --white: #ffffff;
  --red-s:linear-gradient(180deg, #CC0000, #7D0000);
  --blue-s: #0D4185;
}

.login-body {
  background-color: var(--blue-s);
  color: var(--white);
}

.login-header {
  background: var(--red-s);
  text-align: center;
  padding: 10px;
}

.login-header img {
  width: 150px;
  height: auto; 
}

.custom-pd {
  padding: 40px;
}

.card-header {
  background-color: var(--light-gray);
  padding: 10px;
}

.login-footer {
  background-color: var(--blue-s);
  color: var(--white);
  text-align: center;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

