/* inbox-styles.css */

/* Estilos generales del contenedor */
.inbox-container {
  background-color: var(--white);
  border: 1px solid var(--gray);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 0;
  height: 490px;
  overflow-y: auto;
}

/* Estilos para las filas */
/* Estilos para filas */
.inbox-row {
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid var(--gray);
  padding: 10px;
  margin: 0;
  height: 70px;
  font-size: 14px;
}

.inbox-row:last-child {
  border: 1px solid var(--gray);
  padding: 10px;
  height: 70px;
  border-radius: 0 0 10px 10px; /* Borde inferior redondeado */
}

.inbox-row p {
  margin: 0;
  font-size: 14px; /* Tamaño de fuente ajustado */
}

/* Estilos para las columnas */
.inbox-row .col-1 {
  flex: 0 0 5%; /* Ancho fijo del 5% */
}

.inbox-row .col-3 {
  flex: 0 0 20%; /* Ancho fijo del 20% */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.inbox-row .col-4 {
  flex: 0 0 20%; /* Ancho fijo del 20% */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.inbox-row .col-2 {
  flex: 0 0 15%; /* Ancho fijo del 15% */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: right;
}

.inbox-row .col-md-3 {
  flex: 0 0 15%; /* Ancho fijo del 15% */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.inbox-row .col-md-4 {
  flex: 0 0 15%; /* Ancho fijo del 15% */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.inbox-row .col-md-2 {
  flex: 0 0 15%; /* Ancho fijo del 15% */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.inbox-row .col-md-1 {
  flex: 0 0 15%; /* Ancho fijo del 15% */
}

.inbox-row .col-2.text-center {
  text-align: center; /* Alinea el texto al centro para col-2 con la clase text-center */
}

.first-inbox-row {
  display: flex;
  align-items: center;
  border: 1px solid var(--gray);
  padding: 10px;
  height: 70px;
  margin: 0;
  border-radius: 10px 10px 0 0;
}

/* Estilos para los checkbox */
.inbox-checkbox {
  cursor: pointer;
  margin-top: 3px; /* Ajuste en la posición del checkbox */
  width: 20px; /* Ancho del checkbox */
  height: 20px; /* Altura del checkbox */
}

/* Estilos para los íconos de paginación */
.pagination-icon {
  margin-left: 10px; /* Espacio entre los íconos de paginación */
}

/* Estilos para los iconos */
.inbox-container-icon {
  cursor: pointer;
  width: 20px; /* Tamaño deseado para los iconos */
  height: 20px; /* Tamaño deseado para los iconos */
  margin-right: 5px; /* Espaciado entre los iconos de paginación */
  transition: background-color 0.3s; /* Agregado para la transición del color de fondo */
}

.inbox-container-icon:hover {
  width: 22px;
  height: 22px;
  transition: 0.3s;
}

@media (max-width: 991px) {
  .inbox-container .inbox-container-icon {
    width: 18px; /* Ancho ajustado para pantallas medianas */
    height: 18px; /* Altura ajustada para pantallas medianas */
  }
}

@media (max-width: 767px) {
  .inbox-container .inbox-container-icon {
    width: 16px; /* Ancho ajustado para pantallas pequeñas */
    height: 16px; /* Altura ajustada para pantallas pequeñas */
  }

  .inbox-row p {
    margin: 0;
    font-size: 10px; /* Tamaño de fuente ajustado */
  }
}